<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cooler.ai.dm.dao.PolicyConditionMapper" >
  <resultMap id="BaseResultMap" type="com.cooler.ai.dm.entity.PolicyCondition" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="policy_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="condition_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="condition_whether" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="condition_text" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enable" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="msg" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, policy_id, condition_name, condition_whether, condition_text, enable, msg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cooler.ai.dm.entity.PolicyConditionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from policy_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from policy_condition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from policy_condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cooler.ai.dm.entity.PolicyCondition" >
    insert into policy_condition (id, policy_id, condition_name, 
      condition_whether, condition_text, enable, 
      msg)
    values (#{id,jdbcType=INTEGER}, #{policyId,jdbcType=INTEGER}, #{conditionName,jdbcType=VARCHAR}, 
      #{conditionWhether,jdbcType=TINYINT}, #{conditionText,jdbcType=VARCHAR}, #{enable,jdbcType=TINYINT}, 
      #{msg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cooler.ai.dm.entity.PolicyCondition" >
    insert into policy_condition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policyId != null" >
        policy_id,
      </if>
      <if test="conditionName != null" >
        condition_name,
      </if>
      <if test="conditionWhether != null" >
        condition_whether,
      </if>
      <if test="conditionText != null" >
        condition_text,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="msg != null" >
        msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policyId != null" >
        #{policyId,jdbcType=INTEGER},
      </if>
      <if test="conditionName != null" >
        #{conditionName,jdbcType=VARCHAR},
      </if>
      <if test="conditionWhether != null" >
        #{conditionWhether,jdbcType=TINYINT},
      </if>
      <if test="conditionText != null" >
        #{conditionText,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooler.ai.dm.entity.PolicyCondition" >
    update policy_condition
    <set >
      <if test="policyId != null" >
        policy_id = #{policyId,jdbcType=INTEGER},
      </if>
      <if test="conditionName != null" >
        condition_name = #{conditionName,jdbcType=VARCHAR},
      </if>
      <if test="conditionWhether != null" >
        condition_whether = #{conditionWhether,jdbcType=TINYINT},
      </if>
      <if test="conditionText != null" >
        condition_text = #{conditionText,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooler.ai.dm.entity.PolicyCondition" >
    update policy_condition
    set policy_id = #{policyId,jdbcType=INTEGER},
      condition_name = #{conditionName,jdbcType=VARCHAR},
      condition_whether = #{conditionWhether,jdbcType=TINYINT},
      condition_text = #{conditionText,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT},
      msg = #{msg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>