<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cooler.ai.dm.dao.TransformRelationMapper" >
  <resultMap id="BaseResultMap" type="com.cooler.ai.dm.entity.TransformRelation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="transform_relation_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="domain_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="task_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="context_state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="intent_names" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="transform_intent_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="version" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enable" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="msg" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, transform_relation_name, domain_name, task_name, context_state, intent_names, 
    transform_intent_name, version, enable, msg
  </sql>

  <!-- 业务 -->
  <select id="selectByDTS" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from transform_relation
    where enable = 1
    and domain_name = #{domainName,jdbcType=VARCHAR}
    and task_name = #{taskName,jdbcType=VARCHAR}
    and version = #{version,jdbcType=VARCHAR}
    and (context_state = #{contextState,jdbcType=VARCHAR} or context_state = 'global_any')
  </select>
</mapper>